datapusher.cnet/src/main/resources/schemas/LinkSmartIoTEntityModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://linksmart.org/IoTEntity/1.0"  
  xmlns:xh11d="http://www.w3.org/1999/xhtml/datatypes/" 
  xmlns:linksmart="http://linksmart.org/TypeLibrary/1.0"
  xmlns="http://linksmart.org/IoTEntity/1.0" attributeFormDefault="unqualified"
  elementFormDefault="unqualified" version="1.0.0" id="LinkSmartIoTEntityModel-1.0.0">
  
  <xs:import namespace="http://linksmart.org/TypeLibrary/1.0" schemaLocation="LinkSmartTypeLibrary.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"  schemaLocation="xml.xsd" />
  <xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/" schemaLocation="RDFaTypeDefinitions.xsd" />
  
  <xs:annotation>
    <xs:documentation>LinkSmart EventModel DRAFT</xs:documentation>
    <xs:documentation>CNet Svenska AB</xs:documentation>
    <xs:documentation>2014-03-26</xs:documentation>
  </xs:annotation>
  
  <xs:element name="IoTEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Name"/>
        <xs:element minOccurs="0" ref="Description"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Meta"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="IoTProperty"/>
        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
      <xs:attribute ref="xml:base" use="optional"/>
      <xs:attribute name="prefix" use="required" type="linksmart:PrefixIRIDefinitionsType"/>
      <xs:attribute name="about" use="required" type="xh11d:SafeCURIEorCURIEorIRI"/>
      <xs:attribute name="typeof" use="required" type="xh11d:TERMorCURIEorAbsIRIs"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IoTProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Name"/>
        <xs:element minOccurs="0" ref="Description"/>
        <xs:element minOccurs="0" ref="UnitOfMeasurement"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Meta"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="IoTStateObservation"/>
        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
      <xs:attribute ref="xml:base" use="optional"/>
      <xs:attribute name="prefix" use="optional" type="linksmart:PrefixIRIDefinitionsType"/>
      <xs:attribute name="about" use="required" type="xh11d:SafeCURIEorCURIEorIRI"/>
      <xs:attribute name="typeof" use="required" type="xh11d:TERMorCURIEorAbsIRIs"/>
      <xs:attribute name="datatype" use="optional" type="xh11d:TERMorCURIEorAbsIRI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="IoTStateObservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" ref="Value"/>
        <xs:element minOccurs="1" ref="PhenomenonTime"/>
        <xs:element minOccurs="1" ref="ResultTime"/>
        <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="skip"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrayOfIoTEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="IoTEntity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrayOfIoTProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="IoTProperty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArrayOfIoTStateObservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="IoTStateObservation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="Meta">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="property" use="required" type="xh11d:TERMorCURIEorAbsIRIs"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Name" type="xs:string"/>
  <xs:element name="PhenomenonTime" type="xs:dateTime"/>
  <xs:element name="ResultTime" type="xs:dateTime"/>
  <xs:element name="UnitOfMeasurement" type="linksmart:TypedStringType"/>
  <xs:element name="Value" type="xs:string"/>
  
  

</xs:schema>
