platform/Scral/etsi-m2m-manager/xsd/communicationChannels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uri.etsi.org/m2m" xmlns:tns="http://uri.etsi.org/m2m">

	<include schemaLocation="common.xsd" />

	<element name="communicationChannels" type="tns:CommunicationChannels" />

	<complexType name="CommunicationChannels">
		<sequence>
			<element ref="tns:creationTime" minOccurs="0" />
			<element ref="tns:lastModifiedTime" minOccurs="0" />
			<!-- subresources -->
			<element ref="tns:communicationChannelCollection" minOccurs="0" />
		</sequence>
	</complexType>
	
	<element name="communicationChannelCollection" type="tns:NamedReferenceCollection" />
</schema>