platform/Scral/etsi-m2m-manager/xsd/etsiM2mSpPolicy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uri.etsi.org/m2m"
	xmlns:tns="http://uri.etsi.org/m2m">
	<include schemaLocation="mgmtObj.xsd" />
	<include schemaLocation="parameters.xsd" />

	<element name="m2mSpPolicy" type="tns:M2mSpPolicy" />

	<!-- m2mSpPolicy resource type -->
	<complexType name="M2mSpPolicy">
		<complexContent>
			<extension base="tns:Parameters">
				<sequence>
					<element ref="tns:defaultRcatValue" minOccurs="1" maxOccurs="1" />
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="defaultRcatValue" type="tns:RcatType" />

</schema>
