etsi-m2m-manager/xsd/etsiSafPolicySet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://uri.etsi.org/m2m" xmlns:tns="http://uri.etsi.org/m2m">
	<include schemaLocation="mgmtObj.xsd"/>
	<include schemaLocation="parameters.xsd"/>

	<element name="safPolicySet" type="tns:SafPolicySet"/>

	<!-- safPolicySet resource type -->
	<complexType name="SafPolicySet">
		<complexContent>
			<extension base="tns:Parameters">
				<sequence>
                    <!-- attributes -->
					<element ref="tns:policyScope" minOccurs="1"  maxOccurs="1"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<element name="policyScope" type="tns:AnyURIList"/>

</schema>
