platform/Scral/it.ismb.pert.pwal.managers.etsi.m2m/xsd/m2mPocs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://uri.etsi.org/m2m" xmlns:tns="http://uri.etsi.org/m2m">

	<include schemaLocation="common.xsd" />

	<element name="m2mPocs" type="tns:M2MPocs" />

	<complexType name="M2MPocs">
		<sequence>
			<element ref="tns:creationTime" minOccurs="0" />
			<element ref="tns:lastModifiedTime" minOccurs="0" />
			<!-- subresources -->
			<element ref="tns:m2mPocCollection" minOccurs="0" />
		</sequence>
	</complexType>

	<element name="m2mPocCollection" type="tns:NamedReferenceCollection" />

</schema>
